<div class="text-center mt-3">
    <h2>{{predicate === 'visited' ? 'Members who I visited' : 'Members who visited me'}}</h2>
</div>

<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" 
                btnRadio="visited"
                [(ngModel)]="predicate" 
                (click)="loadVisits()" >Members who I visited</button>
            <button class="btn btn-primary" 
                btnRadio="visitedBy"
                [(ngModel)]="predicate" 
                (click)="loadVisits()" >Members who visited me</button>
        </div>
        <div class="col">
          <div class="btn-group float-end">
            <button
              type="button"
              class="btn btn-primary"
              name="filterVisits"
              btnRadio="all"
              [(ngModel)]="filterVisit" 
              (click)="loadVisits()"
              >All visits</button>
          
            <button
              type="button"
              class="btn btn-primary"
              name="filterVisits"
              btnRadio="pastMonth"
              [(ngModel)]="filterVisit" 
              (click)="loadVisits()"
              >Visits in the past month</button>
          </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>
